.navigation {
    margin: 18px 36px 0px 0px;
    border: 0px;
    padding: 0px;
    content: 0px;
}

.navigation ul {
    display: inline;
    float: left;
}

.navigation li {
    color: darkorange;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}



.navigation ul li:hover {
    color: crimson;
}

